<div>
    <h1>RESTAURANTS</h1>
     <h3>Login Here</h3>
      <form (ngsubmit)="onSubmit() ">
        <div>
          <label for="email">Email</label>
          <input  required  type="text">
          <br>
          <br>
          <label for="password">Password</label>
          <input  type="password">
        </div>
        <br>
        <br>
        <button (click)="home()">Submit</button> 
        <br>
        <br>
        <span>Don't have an account? 
        <a routerLink="/register">register</a></span>
      </form>
  </div>
  