<div class="container">
    <h2>Add Restaurant</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Restaurant Name:</label>
        <input type="text" id="name" [(ngModel)]="restaurant.name" name="name" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" id="address" [(ngModel)]="restaurant.address" name="address" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="pincode">Pincode:</label>
        <input type="text" id="pincode" [(ngModel)]="restaurant.pincode" name="pincode" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" id="city" [(ngModel)]="restaurant.city" name="city" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="state">State:</label>
        <input type="text" id="state" [(ngModel)]="restaurant.state" name="state" class="form-control" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
      <br>
      <button >
      <a routerLink="/home">Back</a></button>

    </form>
  
    <div *ngIf="submitted">
      <h3>Restaurant Details</h3>
      <p><strong>Name:</strong> {{ restaurant.name }}</p>
      <p><strong>Address:</strong> {{ restaurant.address }}</p>
      <p><strong>Pincode:</strong> {{ restaurant.pincode }}</p>
      <p><strong>City:</strong> {{ restaurant.city }}</p>
      <p><strong>State:</strong> {{ restaurant.state }}</p>
    </div>
  </div>
  